<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>This is a curated portfolio platform designed to showcase selected works, projects, and creative solutions. Whether you're looking for collaboration, freelance services, or inspiration, PROPGM offers a clear window into professional capabilities and past achievements.
          </p>
      </div>
      <div class="col-lg-4">
        <p>Feel free to browse the portfolio and reach out for potential partnerships or project inquiries. Let’s create something great together.</p>
      </div>
    </div>
  </div>
</section>
