<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am an enthusiast of programming and have a great passion for software and hardware. I enjoy creating practical tools that help improve efficiency, and I have established this personal website to share some of my projects and case studies.
          </p>
      </div>
      <div class="col-lg-4">
        <p>In terms of software, I am skilled in mobile application development, including iOS and Android app development. I also have experience in website development, both frontend and backend, using technologies such as Node.js and Vue.js.
          On the hardware side, I am knowledgeable in circuit design and PCB layout. I particularly enjoy working on open-source hardware projects! </p>
      </div>
    </div>
  </div>
</section>
