<!-- Portfolio Modals -->
{% assign default_lang = site.default_lang %}
{% for post in site.posts %}
  {% if post.lang == default_lang %}
  <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              {% assign title = post.title | replace: "-en", "" | replace: "-zh", "" %}
              <h2>{{ title }}</h2>
              <hr class="star-primary">
              {% if post.images %}
              <div id="carousel-{{ post.modal-id }}" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% for image in post.images %}
                  <li data-target="#carousel-{{ post.modal-id }}" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  {% for image in post.images %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="img/portfolio/{{ image }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                  </div>
                  {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-{{ post.modal-id }}" role="button" data-slide="prev">
                  <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-{{ post.modal-id }}" role="button" data-slide="next">
                  <span class="fa fa-chevron-right"></span>
                </a>
              </div>
              {% else %}
              <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              {% endif %}
              {% if post.description %}
              <div class="project-description">
                  {{ post.description | markdownify }}
              </div>
              {% endif %}
              <ul class="list-inline item-details">
                {% if post.client %}
                <li>Client:
                  <strong>{{ post.client }}</strong>
                </li>
                {% endif %}
                {% if post.project-date %}
                <li>Date:
                  <strong>{{ post.project-date }}</strong>
                </li>
                {% endif %}
                {% if post.category %}
                <li>Service:
                  <strong>{{ post.category }}</strong>
                </li>
                {% endif %}
              </ul>
              <div class="project-links">
                {% if post.translation %}
                <a href="{{ post.translation }}" class="lang-switch">中文版本</a>
                {% endif %}
                <a href="{{ post.url | absolute_url }}" class="view-full-post" target="_blank">View Full Post</a>
                <button class="share-btn" onclick="copyModalLink('{{ post.url | absolute_url }}')">
                  <i class="fa fa-share-alt"></i> Share
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
